<div class="servicios">
    <h1>Nuestros Servicios</h1>
    <div class="container tarjetas">
        <div class="row">
            <div class="col-sm tarjeta">
                <app-card-reversible title="Desarrollo de aplicaciones personalizadas"
                    description="Desarrollamos aplicaciones que crecen con su empresa, asegurando la escalabilidad y la flexibilidad necesarias para adaptarse a cambios y expansiones."
                    imageUrl="../../../assets/desarrollo.png" />
            </div>
            <div class="col-sm tarjeta">
                <app-card-reversible title="Mantenimiento de sistemas informaticos"
                    imageUrl="../../../assets/mantenimiento.jpg"
                    description="Realizamos ajustes continuos para optimizar el rendimiento de sus sistemas, asegurando una experiencia fluida para los usuarios finales. 
                Nuestro equipo está disponible para abordar cualquier problema de manera rápida y eficiente, minimizando el tiempo de inactividad y asegurando la continuidad de sus operaciones." />

            </div>
            <div class="col-lg tarjeta">
                <app-card-reversible title="Asesorias" imageUrl="../../../assets/asesorias.jpg"
                    description="En un mundo empresarial cada vez más dependiente de la tecnología, reconocemos la importancia de contar con un enfoque estratégico para aprovechar al máximo sus inversiones tecnológicas. Nuestras asesorías en soluciones informáticas están diseñadas para ofrecerle orientación experta en la toma de decisiones, desde la planificación hasta la implementación y la optimización continua." />
            </div>
        </div>
    </div>
    <!--        
  <div class="servicio-item">
      <img src="../../../assets/hosting.jpg" alt="Hosting">
      <h3>Hosting</h3>
  </div>
-->
</div>
